body{
    padding: 10px;
}
.barresDeProg{
    width: 45%;
    margin-left: 5px;
  }
.divHeader{
    margin-bottom: 15px;    
    border: 1px solid black;
    padding: 7px;
    background-color: rgba(96, 230, 6, 0.521);
   margin-top: 10px;
    position: relative; 
     z-index: 2000 ;
     display: flex;
     width: 60%;
     justify-content: space-between;
    }
.time{
    font-family: cursive;
}
#activePage{
    border: 0.1px solid #0a5a22;
   background: radial-gradient(circle,rgb(45, 223, 9),rgb(146, 233, 6),rgb(229, 255, 0)) ;
}
i{
    color:rgb(6, 3, 48)
}
.home,.project,.contact{
    font-size: large;
    /* margin-left: 30px; */
    padding: 5px;
    text-align: center;  
}
.home :hover,.project :hover,.contact :hover{
    
    /* background-color: #a31414; */
    color: rgb(0, 148, 32);
}
.home{
    margin-left: 5px;
}
@media (max-width:540px) {
    .home,.project,.contact{
    margin-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;

}
.barresDeProg{
    width: 95%;
    margin-left: 5px;
  }
.divHeader {
    width: 100%;
}
}
@media (max-width:354px) {
    .divHeader  span{
        display: none;
    }
    #activePage{
        width: 50px;
        background: #ffffff;
        border-radius: 50%;
        /* border: 0.1px solid #0a5a22;
       background: radial-gradient(circle,rgb(45, 223, 9),rgb(146, 233, 6),rgb(229, 255, 0)) ; */
    }
}
@media (max-width:423px) {
    .home,.project,.contact{
    margin-left: 5px;
    /* padding-top: 3px;
    padding-bottom: 3px; */
    text-align: center;

}
#activePage{
    /* background: transparent ; */
 }
 #activePage i{
   color: #0a5a22;
 }

.divHeader{   
    /* border: 0.01px solid rgba(0, 0, 0, 0.5); */
    /* padding: 1.3px; */
    background-color: rgba(108, 238, 2, 0.521);
    /* height: 40px; */
    }
}
/*  */
    .cv ul{list-style: none;}
    .cv ul li{list-style: none; margin-bottom: 15px;}
    .cv i{
        font-size: 20px;
        color: rgb(0, 0, 0);
    }
   /* nav */

.divHeader a{
    text-decoration: none;
    color: rgb(5, 5, 65);
    }

@media (min-width: 740px) {
.divHeader{
    padding: 17px;
    }

.barresDeProg{
    width: 45%;
    margin-left: 5px;
}
}