body{
    padding: 10px;
}
.divHeader{
    margin-bottom: 15px;    
    border: 1px solid black;
    padding: 17px;
    background-color: rgba(96, 230, 6, 0.521);
    width: 500px;
    height: 80px;
    position: relative; 
     z-index: 2000 ;
     justify-content: center;
    }
.divHeader  p{
    display: inline-block;
}
.time{
    font-family: cursive;
}
#activePage{
    padding: 4;
    padding-bottom: 0;
    height: 50px;
   background: radial-gradient(circle,rgb(45, 223, 9),rgb(146, 233, 6),rgb(229, 255, 0)) ;
}
i{
    color:rgb(6, 3, 48)
}
.home,.project,.contact{
    font-size: large;
    margin-left: 30px;
    padding: 10px;
    text-align: center;  
}
.home :hover,.project :hover,.contact :hover{
    
    /* background-color: #a31414; */
    color: rgb(0, 148, 32);
}
.home{
    margin-left: 0px;
}
@media (max-width:520px) {
    .home,.project,.contact{
    margin-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;

}
/* nav ul li a{
    font-size: 13px;
} */
}
@media (max-width:423px) {
    .home,.project,.contact{
    margin-left: 5px;
    /* padding-top: 3px;
    padding-bottom: 3px; */
    text-align: center;

}
#activePage{
    background: transparent ;
 }
 #activePage i{
   color: #0a5a22;
 }
 .divHeader  p{
    display: none;
}
.divHeader{   
    border: 0.01px solid rgba(0, 0, 0, 0.5);
    padding: 0.3px;
    background-color: rgba(108, 238, 2, 0.521);
    height: 40px;
    }
}
/*  */
    .cv ul{list-style: none;}
    .cv ul li{list-style: none; margin-bottom: 15px;}
    .cv i{
        font-size: 20px;
        color: rgb(0, 0, 0);
    }
   /* nav */

.divHeader a{
    text-decoration: none;
    color: rgb(5, 5, 65);
    }

@media (min-width: 740px) {
.divHeader{
    padding: 17px;
    }
}
.Tech li {
    margin-left: 40px;
}